.register-container {
    display: flex;
    justify-content: center;
    margin-top: 48px;
}

mat-card {
    width: 400px;
    padding: 16px;
}

.divider {
    margin: 16px 0;
}

button mat-spinner {
  display: inline-block;
  vertical-align: middle;
}
