mat-card {
  margin-bottom: 16px; // Espaçamento abaixo do cartão
}

mat-card-title {
  font-size: 24px; // Tamanho da fonte do título
  font-weight: bold; // Negrito
}

mat-card-content {
  font-size: 16px; // Tamanho da fonte do conteúdo
  color: #383636; // Cor do texto
}
