.usuarios-container {
    padding: 24px;
}

.titulo-usuarios {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
}

.filtro-input {
    margin-bottom: 16px;
}

.mat-column-acoes {
    width: 120px;
    text-align: center;
}

.botao-novo {
    margin-bottom: 16px;
}

.acoes-btns {
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
}