/* ------------------------------
   Estilos globais reutilizáveis
------------------------------- */


/* Snackbars customizados */

.mat-mdc-snack-bar-container.custom-snackbar-success {
    --mdc-snackbar-container-color: #4caf50 !important;
    color: white !important;
    font-weight: bold;
}

.mat-mdc-snack-bar-container.custom-snackbar-error {
    --mdc-snackbar-container-color: #f44336 !important;
    color: white !important;
    font-weight: bold;
}

.mat-mdc-snack-bar-container.custom-snackbar-warn {
    --mdc-snackbar-container-color: #ff9800 !important;
    color: white !important;
    font-weight: bold;
}


/* Estilo do botão “Fechar” dentro do snackbar */

.mat-mdc-snack-bar-container .mdc-button__label {
    color: white !important;
    font-weight: bold;
}


/* Auth visual */

.auth-card {
    max-width: 400px;
    margin: 48px auto;
    padding: 24px;
}

.auth-link {
    margin-top: 16px;
    text-align: center;
    span {
        margin-right: 6px;
    }
    button {
        text-transform: none;
        font-weight: bold;
    }
}


/* Comuns */

.full-width {
    width: 100%;
}

.actions {
    margin-top: 24px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 16px;
}

button mat-spinner {
    display: inline-block;
    vertical-align: middle;
}