.emails-list-card {
  max-width: 1000px;
  margin: 40px auto;
  padding: 32px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
}

.emails-header {
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.sem-registro,
.carregando {
  text-align: center;
  margin-top: 24px;
  font-style: italic;
}

.status-enviado {
  color: #4caf50;
  font-weight: bold;
}

.status-nao-enviado {
  color: #f44336;
  font-weight: bold;
}

.mensagem-negada {
  padding: 24px;
  color: #f44336;
  background-color: #f8d7da;
  text-align: center;
  padding: 20px;
  font-weight: bold;
  font-size: 1.2em;
  border: 1px solid #f5c6cb;
  border-radius: 8px;
  margin: 24px auto;
}

button[color='primary'] {
  font-weight: 600;
}
